{% extends "accueil.html" %}
{% block body%} 
<!-- Bootstrap -->
<link type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
<!-- <link type="text/css" href="{{url_for('static',filename='DataTables/css/dataTables.bootstrap.min.css')}}" rel="stylesheet"> -->
<!-- <link type="text/css" href="{{url_for('static',filename='DataTables/datatables.min.css')}}" rel="stylesheet"> -->
<link type="text/css" href="{{url_for('static',filename='css/bootstrapc.css')}}" rel="stylesheet">
 <!-- <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css "> -->
    <link rel="stylesheet" href=" https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css "> 


<div id="listref" class="container"> 
        <h1><b><em>TABLEAU D'INFORMATION</em></b></h1>
    <style type="text/css">
        #listref{  
                margin: 42px;
                margin-left: 150px;
                width: 950px;      
        }
    </style>
    
    <table id="example" class="table table-striped table-bordered" style="width:100%">    
        <thead >
            <tr>
                <th colspan="4" rowspan="1">apprenant</th>
                <th colspan="3">promotion</th>
                <th colspan="1">referentiel</th>
            </tr>
            <tr>
                <th>matricule</th>
                <th>prenom</th>
                <th>nom</th>
                <th>statut</th>
                <th>nom_promo</th>
                <th>date_debut</th>
                <th>date_fin</th>
                <th>nom_referentiel</th>
            </tr>
        </thead>    
            {% for row in  promo%}
        <tbody>
            <tr>                           
                <td >{{row.0}}</td>
                <td >{{row.1}}</td>
                <td >{{row.2}}</td>
                <td >{{row.3}}</td>
                <td >{{row.4}}</td>
                <td >{{row.5}}</td>
                <td >{{row.6}}</td>
                <td >{{row.7}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot >
                <tr>
                    <th>matricule</th>
                    <th>prenom</th>
                    <th>nom</th>
                    <th>statut</th>
                    <th>nom_promo</th>
                    <th>date_debut</th>
                    <th>date_fin</th>
                    <th>nom_referentiel</th>
                </tr>
        </tfoot>      
    </table>
</div> 
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script src="{{url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script> -->
<!-- <script  type="text/javascript" src="{{url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script> -->
 
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- <script type="text/javascript" charset="utf8" src="//https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> -->
<!-- <script    src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script   src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> -->
<!-- <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script> -->
<!-- <script  type="text/javascript" src="{{url_for('static',filename='DataTables/js/jquery.dataTables.js')}}"></script> -->
<!-- <script  type="text/javascript" src="{{url_for('static',filename='DataTables/js/dataTables.bootstrap.min.js')}}"></script> -->
<!-- <script   src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script> -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js "></script>


<script src=" https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js "></script>


<script type="text/javascript">
 $(document).ready(function() {
    $('#example').DataTable();
} );
</script> 
{% endblock body%} 

{% block footer %}

{% endblock %} 